.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  padding: 1em;
  width: 400px;
}

.submitButton {
  background-color: blueviolet !important;
}

.todoContainer {
  max-height: 300px;
  overflow-y: auto;
}