.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
  width: 100%;
}

.container > label {
  margin-bottom: 0.3rem;
  font-size: 0.96rem;
  font-weight: 500;
  color: #fff;
}

.container > input:focus {
  outline: none;
  border-color: #646cff;
}

.container > input {
  padding: 0.5rem 0.75rem;
  border: 1px solid #333;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
}

.container > .error {
  color: #ff4d4d;
  font-size: 0.9rem;
  margin-top: 0.1rem;
}
